<div class="container" align= "center">
  <div class="jumbotron">

    <h2>THIS IS A TEST APP</h2>



<div ng-app="test-app" ng-controller="BaseCtrl">


  <!--<h2>HELLO world</h2>-->

 <!--<ul>-->
   <!--<li ng-repeat="thing in things">-->
     <!--<span>{{thing.id}}</span>-->
     <!--<span>{{thing.text}}</span>-->
     <!--<span>{{thing.price}}</span>-->
   <!--</li>-->
 <!--</ul>-->
</div>

    <a href="/thing" class="btn btn-log btn-success">Go to product table</a>
  </div>
</div>


