<br/><br/><br/>

<div style="width: 15%" class="container">
<form action="/thing/create" method="POST">
  <h2 class="form-signin-heading">Add product</h2>



  <input type="text" class="form-control" placeholder="Category" name="category">

  <input type="text" class="form-control" placeholder="Product name" name="name">

  <input type="text" class="form-control" placeholder="Price" name="price">

  
  <br />

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create product"/>
  
</form>
</div>