<br/><br/><br/>
<div class="container">
  <h1>Category: <%= thing.category %></h1>
  <h3>Product name: <%= thing.name %></h3>
  <hr>
  <h3>price: <%= thing.price %></h3>

  <a class="btn btn-medium btn-primary" href="/thing/edit/<%= thing.id %>">Edit</a>
</div>